<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="mask"
                    converterClass="com.zhiyu.common.log.SensitiveDataConverter" />

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN:-%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{traceId}] - %mask%n}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="com.zhiyu" level="DEBUG" />
    <logger name="org.springframework.web" level="INFO" />
</configuration>
